body {
    font-family: 'DM Sans', sans-serif;
    margin-left: 0%;
    margin-top: 0%;
}

.first-h1 {
    font-family: 'Pushster', cursive;
    color: rgba(119, 29, 221, 0.568);
    text-shadow: 2px 2px 10px #1081ad;
    text-align: center;
    font-size: 80px;
    margin-top: 0%;
    margin-bottom: 0%;
}

p {
    color: rgb(3, 3, 3);
}

h3 {
    font-size: 48px;
    color: rgba(177, 12, 6, 0.733);
}

.flex-disp {
    display: flex;
}

.disp16 {
    width: 50%;
    background-color: rgba(6, 135, 255, 0.178);
    padding: 20px 40px;
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 71px gray;
}

.disp16 img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.member-flex {
    display: flex;
    padding: 20px 40px;
    margin: 15px 10px;
    background-color: rgba(8, 130, 187, 0.281);
    border-radius: 20px;
}

.member-half {
    width: 50%;
    padding: 0px 10px;
}

.member-img {
    width: 50%;
}

.left-img {
    text-align: right;
}

.bg {
    width: 150%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}

footer p {
    text-align: center;
}